<div class="devices-container">
    <div class="form-section">
        <h3>Add new device</h3>
        <app-device-form (deviceAdded)="loadDevices()"></app-device-form>
    </div>

    <div *ngIf="isLoading" class="placeholder loading">Loading devices...</div> 

    <div *ngIf="!isLoading && devices.length === 0" class=" placeholder devices-not-found">
        No devices found.
    </div>

    <table *ngIf="!isLoading && devices.length > 0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Category</th>
                <th>Color</th>
                <th>Part Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let device of devices">
                <td>{{ device.id }}</td>
                <td>{{ device.category_id }}</td>
                <td>{{ device.color }}</td>
                <td>{{ device.part_number }}</td>
                <td>
                    <button>Edit</button>
                    <button (click)="deleteDevice(device.id)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>